
<%- include("headerbar"); -%>
<div class="spacer" style="height:50px;"></div>
<div class="justify-content-center container border-downer-radius flex-column" style="padding: 10px; background-color: rgba(0,0,0,.5); color: #fff; max-width: 30rem;">
  <!-- <rect width="100%" height="100%" fill="#868e96"></rect> -->

  <div class="postHeroImage edit" style="max-width: 28.5rem; max-height: 20rem;">
    <img src="/uploads/<%=heroImage%>" alt="" name="image" style="max-width: 100%; max-height: auto; object-fit: cover; padding: 0.75rem;" ></img>
  </div>

  <form class="saveEdit" action="/posts/:postId" method="post">
   <div class="postTitle edit" contentEditable="false" id="edit">
     <h1 class="title" id="edit" name="postTitle"><%=title%></h1>
   </div>
   <div class="postBody edit" id="edit" contentEditable="false">
     <p id="edit" class="body" name="postBody"><%=content%></p>
   </div>
   <div class="postAuthor">
     <p name="postAuthor"><%=author%></p>
   </div>
   <div class="postDateCreated">
     <p name="postDateCreated"><%=dateCreated%></p>
   </div>
   <div class="postLastUpdated">
     <p name="postLastCreated"><%=lastUpdated%></p>
   </div>
   <div class="postTags edit">
     <p name="postTags"><%=tags%></p>
   </div>
   <div class="postReactions">
     <p name="postReactions"><%=reactions%></p>
   </div>
   <div class="postMultiMedia edit">
     <p name="postMultiMedia"><%=multiMedia%></p>
   </div>
   <div class="postHeroImage edit">
     <p name="postHeroImage"></p>
   </div>
   <div class="postEmbeddedHTML edit">
     <p name="postEmbeddedHTML"><%=embeddedHTML%></p>
   </div>
   <div class="postComments">
     <p name="postComments"><%=comments%></p>
   </div>
   <div class="postCategory edit">
     <p name="postCategory"><%=category%></p>
   </div>
   <div class="postFeatured edit">
     <p name="postFeatured"><%=featured%></p>
   </div>
   <div class="editAndSave">
       <button class="text-dark" type="button" name="edit" onclick="editableFunc()">edit</button>
       <button class="text-dark" type="button" name="button" type="submit" onclick="save()">save content</button>
   </div>

 </form>
</div>


<script type="text/javascript">
  console.log("test fire");
  function editableFunc(){
    console.log("Editable Function fired");
    console.log(document.querySelectorAll("div.edit"));
    let editable = document.querySelectorAll("div.edit");
    editable.forEach(editableFunc);
    function editableFunc(item, index){
          item.contentEditable = "true";
    }
  }

  function save(){
    console.log("saving content to post");
    let editable = document.querySelectorAll("div.edit");
    editable.forEach(editableFunc);
    function editableFunc(item, index){
          item.contentEditable = "false";
    }
  }
</script>



<%- include("partials/footer"); -%>
