<%- include("headerbar"); -%>
<div class="spacer" style="height:50px;"></div>
<div class="container border-downer-radius" style="padding: 10px;background-color: rgba(0,0,0,.5); color: #fff; max-width: 50%;">
  <div class="card text-dark" style="padding: 10px;">
    <div class="card d-flex justify-content-center " style="background-color: #1abc9c; width: 100px; height: 100px; radius: 10; border-radius: 100%"></div>
    <p>

      <b>fullname</b>: <%=fullname%><br>
      <b>E-Mail</b>: <%=username%><br>
      <b>Join Date</b>: <%=joindate%><br>
      <b>Last Active</b>:
      <br><%=lastactivedate%><br>
      <%=lastactivetime%><br>
      <b>Role</b>: <%=role%><br>
      <b>Posts</b>: <%=postcount%><br>
      <b>Languages known</b>:<br>
      <br>
      <b>Settings</b>:<br>
      <b>Edit</b>:<br>
      <a href="/logout">Logout</a>
    </p>
  </div>
</div>


<%- include("partials/footer"); -%>
